<!-- DO NOT MODIFY -->
<div class="container">
<h1>Pop a Firefly</h1>
<img alt="Fireflies 2014" class="avatar js-avatar" data-user="6732197" height="100" itemprop="image" src="https://avatars2.githubusercontent.com/u/6732197?s=140" width="100">

 
 <div id="user" 
<ul id="color_me">
<img alt="Ahmed Al-Bahar" src="https://secure.gravatar.com/avatar/b235791358a6dbb3a5ed7a065fb79da5.png?r=PG&amp;d=mm&amp;s=98" title="Ahmed Al-Bahar">
<img alt="Alexander Glassman" src="https://secure.gravatar.com/avatar/0ac706d64f461dfa204e7f5201e9a0b7.png?r=PG&amp;d=mm&amp;s=98" title="Alexander Glassman">
<img alt="Caleb Rugg" src="https://secure.gravatar.com/avatar/5faf5aa1d7d51f6d7152fecf1f7c896c.png?r=PG&amp;d=mm&amp;s=98" title="Caleb Rugg">
<img alt="Catherine Vongsathorn" src="https://secure.gravatar.com/avatar/fcdebb589fc2f11e58b4666ed32abba6.png?r=PG&amp;d=mm&amp;s=98" title="Catherine Vongsathorn">
<img alt="Daniel Yoachim" src="https://secure.gravatar.com/avatar/490d045d97c6223541bb62a36edf0314.png?r=PG&amp;d=mm&amp;s=98" title="Daniel Yoachim">
<img alt="Elizabeth Kaplan" src="https://secure.gravatar.com/avatar/cdee5e2e3c95a0537d981e1f8d1d21ad.png?r=PG&amp;d=mm&amp;s=98" title="Elizabeth Kaplan">
<img alt="Keenan Turner" src="https://secure.gravatar.com/avatar/4d2d447e555f5c0c19f1fbc48a434cc0.png?r=PG&amp;d=mm&amp;s=98" title="Keenan Turner">
<img alt="Kim Girard" src="https://secure.gravatar.com/avatar/f89a944077bac5545411b45a2159d262.png?r=PG&amp;d=mm&amp;s=98" title="Kim Girard">
<img alt="Michael Pourhadi" src="https://secure.gravatar.com/avatar/3ba35b7236a98c7bf2f856cf8403a72a.png?r=PG&amp;d=mm&amp;s=98" title="Michael Pourhadi">
<img alt="Milan Grubnic" src="https://secure.gravatar.com/avatar/5c60be2dc54d0a811ae1ce29e5c1d18b.png?r=PG&amp;d=mm&amp;s=98" title="Milan Grubnic">
<img alt="Monica Cho" src="https://secure.gravatar.com/avatar/494b8777cb25f8b0ccee451a5d3ca188.png?r=PG&amp;d=mm&amp;s=98" title="Monica Cho">
<img alt="Natalie Frecka" src="https://secure.gravatar.com/avatar/7d813c9ab3e89b048c3957048af01350.png?r=PG&amp;d=mm&amp;s=98" title="Natalie Frecka">
<img alt="Peter Debelak" src="https://secure.gravatar.com/avatar/a1794745acd9e572c24558b78b48d597.png?r=PG&amp;d=mm&amp;s=98" title="Peter Debelak">
<img alt="Richard Dsida" src="https://secure.gravatar.com/avatar/74e1c1044ac91b119233e5e78aa1e371.png?r=PG&amp;d=mm&amp;s=98" title="Richard Dsida">
<img alt="Scott Silveus" src="https://secure.gravatar.com/avatar/5f22cb686424df7247ee54422b6412f1.png?r=PG&amp;d=mm&amp;s=98" title="Scott Silveus">
<img alt="Tom Hopkins" src="https://secure.gravatar.com/avatar/ade32779223cdb91e657cffed5dd546f.png?r=PG&amp;d=mm&amp;s=98" title="Tom Hopkins">
<img alt="Zac Mitton" src="https://secure.gravatar.com/avatar/d7e357500ce356bdfa58056791a5ae01.png?r=PG&amp;d=mm&amp;s=98" title="Zac Mitton">
</ul>
</div>
</div>